extends base.pug

block style
  style
    include ../static/aboutstyle.css

block content
  .about-section
    h1 About Us
    p Welcome to Ankush Dance Academy! We are passionate about spreading the joy of dance to everyone — from beginners to professionals.
    p Our experienced instructors teach a variety of dance forms including Hip-Hop, Classical, Contemporary, Bollywood, and more.
    p Join us and discover the rhythm within you!
    img(src="../static/logo.png", alt="Ankush Dance Academy Logo")

    ul
      li Friendly and skilled instructors
      li Modern dance studios
      li Classes for all age groups

block scripts
  script(src="/static/index.js")

block foot
  #footer
    p Copyright 2019 AnkushDance Academy | All Rights Reserved
